<div class="container forgetPassword">
    <form [formGroup]="forgertPassword" (ngSubmit)="sendCode(forgertPassword)">
        <div class="row my-5">
           <div class="col-md-8 m-auto">
            <div class="layer bg-light shadow p-5">
                <label for="email">email</label>
                <input formControlName="email" type="email" id="email" class="form-control">
         <p class="text-main">{{msgSuccess}}</p>
                <button class="btn bg-main text-light my-2">send code</button>
            </div>
           </div>
        </div>
    </form>
</div>
<div class="container verifyCode d-none">
    <form [formGroup]="verifyCode" (ngSubmit)="verifyRestCode(verifyCode)">
        <div class="row my-5">
           <div class="col-md-8 m-auto">
            <div class="layer bg-light shadow p-5">
                <label for="code">code</label>
                <input formControlName="resetCode" type="text" id="code" class="form-control">
         <p class="text-main">{{msgSuc}}</p>
                <button class="btn bg-main text-light my-2">send</button>
            </div>
           </div>
        </div>
    </form>
</div>